.page {
    background-color: #0d1117;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 900px;
    width: 100%;
    background-color: #161b22;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid #30363d;
  }
  
  .header {
    font-size: 24px;
    font-weight: bold;
    color: #c9d1d9;
  }
  
  .action-buttons {
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    margin: 0px 0px 15px 0px;
  }
  
  .list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .server-item {
    background-color: #161b22;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #30363d;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    list-style: none;
  }
  
  .server-item:hover {
    border-color: #58a6ff;
    box-shadow: 0 4px 8px rgba(88, 166, 255, 0.3);
  }
  
  .server-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .server-info {
    flex-direction: column;
  }
  
  .server-name {
    font-size: 18px;
    font-weight: bold;
    color: #c9d1d9;
    margin-bottom: 4px;
  }
  
  .server-status {
    font-size: 14px;
    color: #8b949e;
  }
  
  .server-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 10px;
    max-width: 900px;
  }

  .detail-row {
      display: flex;
      align-items: left;
      gap: 6px;
      font-size: 14px;
      color: #8b949e;
      flex-wrap: wrap;
      padding: 4px 8px;
      justify-content: flex-start;
  }


  .server-container {
      max-width: 1100px;
      margin: 0 auto;
  }

  .server-actions {
      display: flex;
      gap: 6px;
      flex-wrap: wrap;
      justify-content: flex-start; 
      max-width: 400px;
  }

  @media (min-width: 1024px) {
      .server-details {
          gap: 8px;
          max-width: 800px;
      }

      .detail-row {
          gap: 4px;
          padding: 2px 6px;
      }

      .server-actions {
          max-width: 300px;
      }
  }


  
  .server-actions {
    margin-top: 20px;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .server-status {
    display: inline-block;
    padding: 3px 6px;
    margin: 0px 6px 0px 6px;
    font-size: 12px;
    font-weight: 600;
    color: #27ae60;
    background-color: rgba(39, 174, 96, 0.1);
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .status-online {
    color: #27ae60;
    background-color: rgba(39, 174, 96, 0.1);
  }
  
  .status-offline {
    color: #e74c3c;
    background-color: rgba(231, 76, 60, 0.1);
  }
  

  
  .error-message {
    background: #300;
    color: #ff8080;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .server-service{
    margin-top: 10px;
  }