.settings-container {
  max-width: auto;
  margin: 40px auto;
  background: var(--bg-content);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
}

.form-group label {
  font-weight: bold;
  font-size: var(--font-size-base);
  color: var(--text-primary);
  margin-bottom: 5px;
}

.input {
  width: auto;
  max-width: 900px;
}

.field-description {
  font-size: var(--font-size-sm);
  color: var(--text-muted);
  margin-bottom: 5px;
}

a {
  color: rgb(88, 166, 255);
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

input#id,
input[name="id"],
input[name="lastUpdate"],
input[name="createDate"] {
  display: none;
}

@media (min-width: 900px) {
  .settings-container {
    width: 900px;
  }
}

@media (max-width: 600px) {
  .settings-container {
    width: 90%;
    padding: 20px;
  }

  .form-group input {
    font-size: var(--font-size-base);
    padding: 10px;
  }
}
